<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 학원 등록하기</title>
    <style>
        
    </style>
    <script>
        
    </script>
</head>
<body>
	<!-- layout -->
    <div layout:fragment="content">
	    <form action="/academy/post" method="post">
	    	<!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
	        학원명 : <input type="text" name="name"> <br>
	       	주소 : <input type="text" name="address"> <br>
	       	소개 : <textarea name="info"></textarea> <br>
	       	지역 : <input type="text" name="location"> <br>
	       	사업자등록번호 : <input type="text" name="companynum"> <br>
			<input type="hidden" name="grade" value="1000">
	        <input type="submit" value="등록">
	        <a th:href="@{/user/mypage}"><button type="button">취소</button></a>
	    </form>    
    <!-- layout end-->
	</div>
</body>
</html>